navbar {
  padding: 50px;
  color: white;
  padding: 20px;
}

.navbar-brand{
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

a {
  color: white;
}

mat-icon{
  color: white;
  padding-left: 5px;
}

.cart {
  color: white;
  display: flex;
}

.container-fluid {
  background-color: #881b0f;
}

.row{
  padding: 25px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

.sticky {
  position: sticky;
  top: 0px;
  width: -webkit-fill-available;
  z-index: 2;
}

.second-row{
  display: flex;
  justify-content: space-evenly;
  padding: 10px 25px 10px 25px;
  color: wheat;
  background-color: brown;
}

.second-row:hover {
  background-color: black;
}

.first-row {
  display: flex;
  padding: 25px 25px 5px 25px;
  color: white;
  max-height: 30vh;
  justify-content: space-between;
  align-items: center;
}

#logo-name {
  animation-name: moveInRight;
  animation-duration: 3s;
  max-width: 65%;
}

@keyframes moveInLeft {
  0%{
    opacity: 0;
    transform: translateX(-60px);
  }
  80%{
    transform: translateX(10px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0%{
    opacity: 0;
    transform: translateX(10px);
  }
  80%{
    transform: translateX(-10px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}