<div class="container-fluid sticky">
  <div class="row first-row">
    <div id="logo-name">
      <h1>
        <a routerLink="/" routerLinkActive="active">Kohinoor Restaurant</a>
      </h1>
    </div>
    <a class="nav-link cart" routerLink="/cart" routerLinkActive="active">
      <span>Cart</span>
      <mat-icon [matBadgeHidden]="hideBadge()" [matBadge]="cartBadge()">shopping_cart</mat-icon>
    </a>
  </div>
  <div class="row second-row">
    <a routerLink="/" routerLinkActive="active">Home
      <span class="sr-only">(current)</span>
    </a>
    <a routerLink="/menu" routerLinkActive="active">Menu</a>
    <a routerLink="/reservations" routerLinkActive="active">Reservations</a>
    <!-- <a routerLink="/cart" routerLinkActive="active">My Orders</a> -->
    <a routerLink="/contact" routerLinkActive="active">Visit Us</a>
  </div>
</div>