.example-spacer {
  flex: 1 1 auto;
}
  
navbar {
  padding: 50px;
  color: white;
  padding: 20px;
}

.navbar-brand{
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

a{
  color: white;
}

mat-icon{
  color: white;
  padding-left: 5px;
}

.cart {
  color: white;
  display: flex;
}