<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{companyName}}</span>
    <span class="example-spacer"></span>

    <span class="d-none d-sm-block">Menu</span>
    <mat-icon class="example-icon d-block d-sm-none" (click)="onRestaurantMenu()">restaurant_menu</mat-icon>

    <mat-icon class="example-icon" [matMenuTriggerFor]="menu">more_vert</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>

  <mat-toolbar-row class="justify-content-md-center">
      <span class="example-spacer"></span>
      <span>Home</span>
      <span class="example-spacer"></span>
      <span>Reservation</span>
      <span class="example-spacer"></span>
      <span>Contact Us</span>
      <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar> -->

