<div class="row footer">
    <div class="col-sm-3 footer-col">
        <h5>Contact Us</h5>
        <p>
            <a href="tel:1-519 888 0455">519 888 0455</a>
        </p>
        <br>
        <h5>Address</h5>
        <p>
            465 Phillip Street
            <br /> Waterloo Ontario
        </p>
    </div>
    <div class="col-sm-3 footer-col">
        <h5 class="title">
            <a routerLink="/" routerLinkActive="active">Home</a>
        </h5>
        <hr>
        <h5 class="title">
            <a routerLink="/reservations" routerLinkActive="active">Reservations</a>
        </h5>
        <hr>
        <h5 class="title">
            <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </h5>
        <hr>
        <h5 class="title">Privacy</h5>
        <hr>
    </div>
    <div class="col-sm-3 footer-col">
        <h5>
            <a routerLink="/menu" routerLinkActive="active">Menu</a>
        </h5>
        <hr>
        <h5>
            <a routerLink="/reservations" routerLinkActive="active">Take Out</a>
        </h5>
        <hr>
        <h5>
            <a routerLink="/" routerLinkActive="active">Drinks</a>
        </h5>
        <hr>
        <h5>
            <a routerLink="/" routerLinkActive="active">Wine Selection</a>
        </h5>
        <hr>
    </div>
    <div class="col-sm-3  footer-col">
        <h1>Open Daily</h1>
        <br />
        <h5>
            Lunch 10:00am to 3:00pm <br>
            Dinner 4:30pm to 10:00pm
        </h5>
        <br>
        <p>
            Closed 3pm-4:30 pm
        </p>
    </div>
    <hr>
</div>