<div class="row footer">
    <div class="col-sm-3 footer-col">
        <h5>Contact Us</h5>
        <p>
            <a href="tel:1-519 888 0455">519 888 0455</a>
        </p>
        <br>
        <h5>Address</h5>
        <p>
            465 Phillip Street
            <br /> Waterloo Ontario N2L6C7
        </p>
    </div>
    <div class="col-sm-3 footer-col">
        <h5 class="title">
            <a routerLink="/" routerLinkActive="active">Home</a>
        </h5>
        <hr>
        <h5 class="title">
            <a routerLink="/reservations" routerLinkActive="active">Reservations</a>
        </h5>
        <hr>
        <h5 class="title">
            <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </h5>
        <hr>
        <h5 class="title">Privacy</h5>
        <hr>
    </div>
    <div class="col-sm-3 footer-col">
        <h5>
            <a routerLink="/menu" routerLinkActive="active">Menu</a>
        </h5>
        <hr>
        <h5>
            <a routerLink="/reservations" routerLinkActive="active">Take Out</a>
        </h5>
        <hr>
        <h5>
            <a routerLink="/" routerLinkActive="active">Drinks</a>
        </h5>
        <hr>
        <h5>
            <a routerLink="/" routerLinkActive="active">Wine Selection</a>
        </h5>
        <hr>
    </div>
    <div class="col-sm-3  footer-col">
        <h5>Monday to Friday</h5>
        <p>
            Lunch 11:30 am to 3:00 pm <br>
            Dinner 4:30 pm to 9:30 pm
        </p>
        <h5>Saturday</h5>
        <p>
            12:00 pm to 9:30 pm
        </p>
        <h5>Sunday</h5>
        <p>
            4:30 pm to 9:30 pm 
        </p>
    </div>
    <hr>
</div>