<div class="row footer">
    <div class="col-sm-3 footer-col">
        <h5>Contact Us</h5>
        <p>
            <a href="tel:1-226-606-5291">226-606-5291</a>
        </p>
        <br>
        <h5>Address</h5>
        <p>
            183 King Street
            <br/> Kitchener Ontario
        </p>
    </div>
    <div class="col-sm-3 footer-col">
        <h5 class="title">
            <a routerLink="/" routerLinkActive="active">Home</a>
        </h5>
        <hr>
        <h5 class="title">
            <a routerLink="/reservations" routerLinkActive="active">Reservations</a>
        </h5>
        <hr>
        <h5 class="title">
            <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </h5>
        <hr>
        <h5 class="title">Privacy</h5>
        <hr>
    </div>
    <div class="col-sm-3 footer-col">
        <h5>
            <a routerLink="/menu" routerLinkActive="active">Menu</a>
        </h5>
        <hr>
        <h5>
            <a routerLink="/reservations" routerLinkActive="active">Take Out</a>
        </h5>
        <hr>
        <h5>
            <a routerLink="/" routerLinkActive="active">Drinks</a>
        </h5>
        <hr>
        <h5>
            <a routerLink="/" routerLinkActive="active">Wine Selection</a>
        </h5>
        <hr>
    </div>
    <div class="col-sm-3  footer-col">
        <h5>Sunday to Thursday</h5>
        <p>
            Lunch 11:30am to 2:30pm
            <br> Dinner 5:00pm to 10:00pm
        </p>
        <br>
        <h5>Friday to Saturday</h5>
        <p>
            Lunch 11:30am to 2:30pm
            <br> Dinner 5:00pm to 11:30pm
        </p>
    </div>
    <hr>
</div>