<div class="container" *ngIf="itemTotals">
  <mat-card>
    <div class="row order-confirm">
      <div class="col-12">
          <h4>Order Confirmation # 39383</h4>
      </div>
      <div class="col-12">
          <p>Your order has been confirmed.</p>
      </div>
    </div>

      <div class="row">
          <div class="col-4">
            <h5>Item</h5>
          </div>
          <div class="col-4">
            <h5>Quantity</h5>
          </div>
          <div class="col-4">
              <h5>Price</h5>
          </div>
      </div>
    
      <div class="orders" *ngFor="let order of cartOrders" >
        <div class="row">
          <div class="col-4">
            <p>{{order.name}}</p>
          </div>
          <div class="col-4">
            <p>{{order.quantity}}</p>
          </div>
          <div class="col-4">
            <p>{{order.newPrice}}</p>
          </div>
        </div>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </div>

      <div class="total-price row">
          <h5>
              Total Price: $ {{itemTotals.toFixed(2)}}
          </h5>
      </div>

      <div class="row thanks">
        <p>Thank you for ordering with us. <br>
          If you have any questions or comments, please call us at +1-519-888-0455
        </p>
      </div>
      <div class="row signature">
          <p>
            <b>Kohinoor Restaurant</b>
          </p>
      </div>
  </mat-card>

</div>

<div class="container" *ngIf="!itemTotals">
    <p>You don't have any orders confirmed.</p>
    <p>Please order it now.</p>
</div>
