<div class="container">

  <div class="row check-out">
      <mat-card>
        <h3>Your Details:</h3>
          <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Your Name" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Phone">
              </mat-form-field>
            
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Leave a comment"></textarea>
              </mat-form-field>
      
              <button mat-raised-button color="primary">Confirm Order</button>
            </form>
      </mat-card>
  </div>
  
</div>