.menu {
    text-align: center;
    /* padding: 5px; */
    color: #881b0f;
}

img {
    padding: 5px 0px;
}

.flyer {
    display: flex;
    justify-content: center;
    flex-direction: column
}


@media only screen and (min-width: 600px) {
    .img-div {
        display: flex;
        justify-content: center;
    }
}