<div class="contacts row">
  <div class="col-sm-6 store-hours">
    <!-- <h3>Store Hours:</h3><hr>
    <p>Monday: 10:00 am to 10:00 pm</p>
    <p>Tuesday: 10:00 am to 10:00 pm</p>
    <p>Wednesday: 10:00 am to 10:00 pm</p>
    <p>Thursday: 10:00 am to 10:00 pm</p>
    <p>Friday: 10:00 am to 10:00 pm</p>
    <p>Saturday: 10:00 am to 10:00 pm</p>
    <p>Sunday: 10:00 am to 10:00 pm</p> -->
    <h4>Sunday to Thursday</h4>
        <p>
            Lunch 11:30am to 2:30pm<br>
            Dinner 5:00pm to 10:00pm
        </p>
        <br>
        <h4>Friday to Saturday</h4>
        <p>
            Lunch 11:30am to 2:30pm<br>
            Dinner 5:00pm to 11:30pm
        </p>
  </div>
  <div class="col-sm-6">
  </div>
</div>
<app-location></app-location>
