<div class="row">
  <div class="col-sm-6 ">
    <mat-card>
        <img class="img-fluid" mat-card-image src="../../assets/images/menu-1.jpeg" 
        alt="Menu 1">
    </mat-card>
  </div>
  <div class="col-sm-6">
    <mat-card>
        <img class="img-fluid" mat-card-image src="../../assets/images/menu-2.jpeg" 
        alt="Menu 2">
    </mat-card>
  </div>
  <div class="col-sm-6">
    <mat-card>
        <img class="img-fluid" mat-card-image src="../../assets/images/menu-3.jpeg" 
        alt="Menu 3">
    </mat-card>
  </div>
  <div class="col-sm-6">
    <mat-card>
        <img class="img-fluid" mat-card-image src="../../assets/images/menu-4.jpeg" 
        alt="Menu 4">
    </mat-card>
  </div>
</div>