.row {
    /* margin: 5px; */
    justify-content: space-evenly;
    background-color: brown;
    flex-wrap: wrap;
}

.menu-card{
    padding: 10px;
    max-width: 100vh;
}

.spacer {
    flex: 1 1 auto;
}

.item{
    display: flex;
}

.subtext{
    font-size: 0.8rem;
    line-height: 1;
}

.menu-block{
}

h3{
    text-align: center;
    margin: 20px;
}

.menu-category{
    margin: 5px;
    background-color: beige;
    padding: 10px;
}

/* .flex-row{
    display: flex;
    flex-wrap: wrap;
} */