.menu-img{
    padding: 5px;
    border: solid;
}

.row {
    padding: 20px;
    background-color: antiquewhite;
}

.menu-card{
    padding: 10px;
    max-width: 100vh;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  