<h2 mat-dialog-title>Add to Cart</h2>
<mat-dialog-content>
  <div>
      Your order:
  </div>
  <div class="order">
      <b>Order:</b>  {{orderName}} <br>
      <b>Price:</b> {{orderPrice}}
  </div>
  <div id="quantity">
     Quantity: 
     <mat-icon (click)="incrementQuantity()">add_circle</mat-icon>
     <input value={{quantity}}>
     <mat-icon (click)="decrementQuantity()">remove_circle</mat-icon>
  </div>
  
  Are you sure?
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true">No</button>
  <button mat-raised-button color="primary" (click)="addToCart()" 
  mat-dialog-close>
  Yes</button>
</mat-dialog-actions>