.order{
    padding: 10px;
}

.orders{
    text-align: center;
}

input{
    max-width: 50px;
    text-align: center;
}

mat-icon{
    margin: 10px;
}

#quantity{
    padding: 5px;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
}

.mat-dialog-actions{
    display: flex;
    justify-content: space-evenly;
}