.checkout-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .reservation{
      margin: 10px;
      display: flex;
      justify-content: center;
  }

  .container{
    padding: 0px;
    text-align: center;
}

h3{
  text-align: center;
  color: #3f51b5;
}

.thanks{
  width: 100%;
}

.details{
  text-align: justify;
  color: #1b5069;
}