<div class="container">

  <div class="row reservation">
    <mat-card>
      <div *ngIf="!submitted">
        <h3>Make a Reservation</h3>

        <form class="checkout-form" (ngSubmit)="onSubmit(f)" #f="ngForm">

          <mat-form-field class="full-width">
            <input ngModel name="name" minlength="3" matInput placeholder="Your Name" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input class="form-control" ngModel name="email" type="email" matInput placeholder="Email" required email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
          </mat-form-field>

          <mat-form-field class="full-width">
            <input ngModel type="tel" name="phone" minlength="10" matInput placeholder="Phone" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input ngModel type="text" name="partySize" matInput placeholder="Party Size" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input ngModel name="date" matInput [min]="minDate" [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-select ngModel placeholder="Choose a time" name="time">
              <mat-option *ngFor="let time of times" [value]="time">
                {{ time }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width">
            <textarea ngModel name="comments" matInput placeholder="Leave a comment"></textarea>
          </mat-form-field>
          <re-captcha
            ngModel
            name="captcha"
            class="captcha"
            required
            (resolved)="resolved($event)" 
            [siteKey]="captchaKey">
          </re-captcha>
          <button mat-raised-button type="submit" color="primary" [disabled]="!f.valid">
            Reserve Now
          </button>
        </form>
      </div>

      <div *ngIf="submitted" class="thanks">
        <h3>Thank You.</h3>
        <p>Your reservation has been confirmed with following details:</p>
        <div class="details">
              
          <h5><b>Name:</b> {{submittedForm.name}}</h5>
          <h5><b>Email:</b> {{submittedForm.email}}</h5>
          <h5><b>Phone:</b> {{submittedForm.phone}}</h5>
          <h5><b>Size:</b> {{submittedForm.partySize}}</h5>
          <h5><b>Date:</b> {{submittedForm.date | date}}</h5>
          <h5><b>Time:</b> {{submittedForm.time}}</h5>
          <h5><b>Comments:</b> {{submittedForm.comments}}</h5>
        </div>
      </div>


    </mat-card>
  </div>

</div>